#voice {
  margin: 0;  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#voice #start {
  border-radius: 100%;
  background-color: white;
  border: none;
  box-shadow: 0 0 0 15px var(--blue), 0 0 0 25px #23a2fd3f, 0 0 0 35px #23a2fd0f;
  margin: 30px;
}
#voice #start:focus {
  outline: none;
}
#voice #start img {
  width: 30px;
  height: 30px;
  padding: 20px;
}
#voice p {
  color: var(--blue);
}
#voice p#output {
  position: relative;
  width: 100vw;
  height: 0;
}
#voice p span {
  position: relative;
  top: 0; left: 0;
  display: flex;
  justify-content: center;
  padding: 0 20px;
}
